.service img{
    
   width: 400px;
   height: 250px;
   border-radius: 10px;
   top: 0;
   margin-top: 0px;
   position: absolute;
    
}
 .botom{
     position: absolute;
     bottom: 0;
 }
.service:hover{

       
        border-radius: 18px;
        background: #e8e7e9;
        box-shadow: 29px 29px 59px #cac9cb,
            -29px -29px 59px #ffffff;

  
}
.service{
    position: relative;
    margin: 0 auto;
    height: 500px;
    width: 400px;
   border: 1px solid lightgray;
    border-radius: 10px;
    padding-bottom: 10px;
    text-align: center;
}