form input {
    background-color: rgb(199, 206, 212);
    height: 45px;
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
    
}
 

.form-container {
  
    border-radius: 5px;
    background: linear-gradient(145deg, #d1d0d2, #f8f7f9);
    box-shadow: 28px 28px 86px #b0b0b1,
        -28px -28px 86px #ffffff;
}
.form-container input:not(.submit):hover {
    background-color: white;

}

.or hr{
    background-color: rgb(88, 78, 78);
    color:black; 
    height: 2px;
}
.register{
    background-image:
    url('../images/hammer\ \(2\).png'),
    url('../images/icon.png');
    background-position: 100% 100%,10% 50%;
    background-repeat: no-repeat;
}